#testing {
	height: 950px;
}


/* Style the navbar */
#navbar {
  overflow: hidden;
  display: flex;
  background-color: #EEE;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#navbar a:hover {
	background-color: rgba(12, 134, 123, .5);
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
}

#testing, #testing2 {
	border: 1px solid red;
	height: 800px;
}
