#container {
  width: 80vw;
  margin: 0 auto;
}

#canvas-image, #calendar-image {
  width: 30vw;
  max-height: 100%;
}

#homepos {
  /*background-image: url('../images/Robotic-Process-Automation.jpg');*/
  color: white;
  font-family: 'Josefin Sans';
  margin: 80px 0 0 0;
}


#canvas-image:hover, #calendar-image:hover {
  -webkit-filter: blur(2px) brightness(.5);
  filter: blur(2px) brightness(.35);
}

.project {
  display: flex;
}

#navbar {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  -webkit-box-shadow: 0px 0px 190px -38px rgba(52, 58, 64,0.48);
  -moz-box-shadow: 0px 0px 190px -38px rgba(52, 58. 64,0.48);
  box-shadow: 0px 0px 50px 5px rgba(52, 58, 64,0.48);
  opacity: 0.97;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
  margin: 0 2vw 0 0;
}

.testing {
	/*border: 1px solid red;*/
	height: 500px;
	margin: 50px 0 0 0;
  background-color: rgba(88, 120, 140, 1);
}

#contactsvg > img {
  margin: 0 5px 0 5px;
  filter: invert(0.8);
}


#styling{
	height: 2px;
	width: 100vw;
	background-color: rgba(88, 120, 140, 1);
}

form{
  text-align: center;
}
input, textarea {
  background-color: rgba(28, 36, 47, .9);
  color: white;
  border: none;
  width: 35vw;
  height: 25px;
  margin: 5px;
}

textarea {
  height: 70px;
}

::placeholder {
  color: white;
}

main {
  text-align: center;
}

body{
  font-family: 'Ubuntu';
  background-color: rgba(240, 241, 242, 1);
	/*background-color: rgba(197, 203, 203, 1);*/
}