#container {
  width: 90vw;
  margin: 0 auto;
}


#canvas-image, #calendar-image {
  height: 25vw;
  max-width: 100%;
  margin: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}

#homepos {
  /*background-image: url('../images/Robotic-Process-Automation.jpg');*/
  color: black;
  font-family: 'Josefin Sans';
  margin: 80px 0 0 0;
  height: 100vh;
  width: 100%;
  background: url('../images/driving_the_south_coast_in_winter.jpg');
  background-size: cover;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
  padding: 15vh 0 0 0;
}

.tech-stack {
  display: flex;
  justify-content: space-around;
}

#canvas-image:hover, #calendar-image:hover {
  -webkit-filter: blur(0px) brightness(.8);
  filter: blur(1px) brightness(.9);

}


.project-opposite {
  display: flex;
  flex-direction: row-reverse;
}

.testing-projects {
  display: flex;
  /*justify-content: space-around;*/
  align-items: center;
}


#navbar {
  display: flex;
  justify-content: space-between;
  height: 7vh;
  -webkit-box-shadow: 0px 0px 20px rgba(52, 58, 64,0.48);
  -moz-box-shadow: 0px 0px 190px -38px rgba(52, 58. 64,0.48);
  box-shadow: 0px 0px 50px 5px rgba(52, 58, 64,0.48);
  background-color: black !important;
  opacity: .80;
}


.nav-links {
  font-family: 'Arvo';
}

.nav-links > a {
  margin: 5px;
}

.nav-links > a:hover {
  text-decoration: none;
}

#contactmepos {
  padding: 0 0 10vw 0;
  /*background-image: url('../images/vector.png');*/
  /*background-size: cover;*/
  margin: 50px 0 5vh 0;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
  margin: 0 2vw 0 0;
}
svg {
  height: 40px;
  max-width: 100%;
  /*filter: invert(1);*/
}
.testing {
	/*border: 1px solid red;*/
	height: 50vh;
	margin: 50px 0 0 0;
  /*background-color: rgba(0, 156, 213, 0.5);*/
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
  /*background-image: radial-gradient( circle farthest-corner at 1.3% 2.8%,  rgba(239,249,249,1) 0%, rgba(182,199,226,1) 100.2% );*/
}




#toppos {
  height: 1px;
}

#contactsvg > a > img {
  margin: 0 5px 0 5px;
  filter: invert(0.8);
}

#contactsvg > a:hover {
  filter: invert(1);
}

#contactmepos {
  height: 25vh;
}

.contactme-svg > a:hover {
  filter: invert(.3);
}

.project-main, .project-opposite {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-right {
  margin: 10vh 10vw;
}

.tech-stack > img {
  /*margin: 0 3vw 0 3vw;*/
  height: 30px;
  max-width: 100%;
}

#particles-js {
  position: fixed;
  top: 0;
  z-index: -99;
  height: 100vh;
  width: 100vw;
}

.contactme-svg > a > img{
  filter: invert(0);
  height: 60px;
  max-width: 100%;
  margin: 20px 20px 0 20px;
}


#styling{
	height: 2px;
	width: 100vw;
	background-color: rgba(88, 120, 140, 1);
}

form{
  text-align: center;
}
input, textarea {
  background-color: rgba(28, 36, 47, .9);
  color: white;
  border: none;
  width: 35vw;
  height: 25px;
  margin: 5px;
}

textarea {
  height: 70px;
}

::placeholder {
  color: white;
}

main {
  text-align: center;
}

body{
  font-family: 'Ubuntu';
  /*background-color: rgba(240, 241, 242, 1);*/
	/*background-color: rgba(197, 203, 203, 1);*/
  /*background-image: url('../images/casey-horner-763014-unsplash.jpg')*/
}